[gwrite.ninja]
header = "G20\nG17\nG90\n"
firstsegment =  "M380\nG00 X{x:.4f} Y{y:.4f}\nM381\n"
segment = "G01 X{x:.4f} Y{y:.4f}\n"
footer = "M2\n"
unit = "mm"

[gwrite.gcode]
header = "G20\nG17\nG90\n"
firstsegment = "G00 X{x:.4f} Y{y:.4f}\n"
segment = "G01 X{x:.4f} Y{y:.4f}\n"
footer = "M2\n"
unit = "mm"

[gwrite.gcode_relative]
header = "G20\nG17\nG91\n"
firstsegment = "G00 X{dx:.4f} Y{dy:.4f}\n"
segment = "G01 X{dx:.4f} Y{dy:.4f}\n"
footer = "M2\n"
unit = "mm"

[gwrite.csv]
header = "#Operation, X-value, Y-value\n"
firstsegment = "Move, {x:f}, {x:f}\n"
segment = "Line-to, {x:f}, {x:f}\n"
lastsegment = "Stop, {x:f}, {x:f}\n"

[gwrite.json]
header = "{{"
footer = "}}\n"
linejoin = ","
layerjoin = ","
prelayer = "\n\t\"Layer\": {{"
postlayer = "\t}}\n"
preline = "\n\t\t\"LineCollection{index:d}\": [\n"
postline = "\n\t\t]"
segment = "\t\t{{\n\t\t\t\"X\": {ix:d},\n\t\t\t\"Y\": {iy:d}\n\t\t}},\n"
lastsegment = "\t\t{{\n\t\t\t\"X\": {ix:d},\n\t\t\t\"Y\": {iy:d}\n\t\t}}"



[gwrite.isvg]
header = """<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg xmlns="http://www.w3.org/2000/svg" xmlns:ev="http://www.w3.org/2001/xml-events" xmlns:xlink="http://www.w3.org/1999/xlink">
"""
footer = "</svg>"
prelayer = '<g fill="none" stroke="black">'
preline = '<path d="M '
firstsegment = "{ix:d} {iy:d} l"
segment = "{idx:d} {idy:d} "
postline = '"/>'
postlayer = "</g>"
